<main class="auth-main" style="padding-top:150px;">
  <div class="auth-block">
    <h1>Ingreso al Sistema</h1>
    <form class="form-horizontal" name="formLogin" id="formLogin" ng-submit="signIn()" novalidate>
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">Usuario:</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="username" name="username" ng-model="data.username" placeholder="Usuario" ng-required="true" autocomplete="off">
            </div>
        </div>
        <div class="form-group">
            <label for="clave" class="col-sm-2 control-label">Password:</label>
            <div class="col-sm-10">
                <input type="password" class="form-control" id="clave" ng-model="data.clave" placeholder="Contraseña" ng-required="" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default btn-auth" ng-disabled="formLogin.$invalid">Ingresar</button>
                <!--a href="#/signin/forgot" class="forgot-pass">Perdiste tu password?</a-->
            </div>
        </div>
    </form>
    <!--div class="auth-sep"><span><span>Sistema ERP</span></span></div>
    <div class="al-share-auth">
        <ul class="al-share clearfix">
            <li><i class="socicon socicon-facebook" title="Share on Facebook"></i></li>
            <li><i class="socicon socicon-twitter" title="Share on Twitter"></i></li>
            <li><i class="socicon socicon-google" title="Share on Google Plus"></i></li>
        </ul>
    </div-->      
  </div>
</main>